$font: Arial sans-serif
$text-color: #777777

html
  height: 100%

ol,ul
    list-style: none

*
  margin: 0
  padding: 0
  outline: none
  border: 0

body
  height: 100%
  font: 14px/18px 'Times New Roman', Times, sans-serif
  background-color: #ffffff
  margin: 0
  padding: 0

.clearfix:before,
.clearfix:after
  content: " "
  display: table


.clearfix:after
  clear: both

.container
  width: 940px
  margin: 0 auto

.header
  position: absolute
  top: 20px
  left: 0
  right: 0
  width: 100%
  padding: 20px 0

.logo
  float: left

.nav
  float: right
  padding-top: 5px

.nav
  li
    float: left
    margin-right: 40px

  li:last-child
    margin-right: 0
  a
    font: 14px $font
    color: #ffffff
    text-transform: uppercase
    text-decoration: none
  a:hover
    color: #fed136
    text-decoration: none

.home
  text-align: center
  color: #ffffff
  height: 935px
  background: #222222 url("../img/Background Image.png") no-repeat center bottom
  background-size: cover

.home
  h3
    font: 40px/40px $font
    margin-bottom: 40px

  h1
    font: 75px/75px $font
    text-transform: uppercase
    margin-bottom: 50px

  div
    padding-top: 270px

.button
  color: #ffffff
  background-color: #fed136
  font: bold 24px/24px $font
  padding: 20px 30px
  display: inline-block
  text-transform: uppercase
  border-radius: 5px
  cursor: pointer

.box
  padding: 120px 0

.services,
.about,
.logos
  text-align: center

h2.title
  font: bold 40px/40px $font
  text-transform: uppercase
  color: #222222
  margin-bottom: 10px

p.dscr
  font-size: 16px
  color: #777777
  margin-bottom: 10px


.services-item
  float: left
  width: 32%
  padding: 90px 5px 0 5px

h5.title
  font: bold 18px/18px $font
  margin-bottom: 10px

.services-wrap,
.portfolio-wrap,
.about-wrap,
.team-wrap,
.contacts-wrap
  padding-top: 70px

.services-item p
  line-height: 24px
  font-size: 18px
  color: #777777

.commerce
  background: url("../img/Icon-Basket.png") no-repeat center top

.security
  background: url("../img/Icon-Laptop.png") no-repeat center top

.responsive
  background: url("../img/Icon-Locked.png") no-repeat center top

.portfolio,
.team
  text-align: center
  background-color: #f7f7f7

.portfolio-item
  float: left
  width: 31%
  margin-bottom: 50px
  margin-right: 3.5%
  background: #ffffff

.portfolio-item:nth-child(3n)
  margin-right: 0

.portfolio-item-footer
  padding: 25px 20px

.portfolio-item-footer h5.title
  margin-bottom: 4px

.about-text
  width: 35%

.about-text p
  line-height: 24px

.about-img
  width: 30%
  margin-top: -5px

.left
  float: left

.right
  float: right

.text-left
  text-align: right

.text-right
  text-align: left

.uppercase
  text-transform: uppercase

.team-item
  width: 31%
  margin-right: 3.5%

.team-item:last-child
  margin-right: 0

.team-item-footer
  margin: 0 auto
  width: fit-content

.team-item h5
  font: bold 16px/16px $font
  margin-bottom: 5px

.team-item p
  font: 14px/14px $font

.social
  margin-right: 10px

.social:last-child
  margin-right: 0

.teamdscr
  padding: 50px 200px 0 200px

.logos-item
  margin-right: 50px

.logos-item:last-child
  margin-right: 0

.logos.box
  padding: 60px 0

.logos.logos-wrap
  margin: 0 auto

.contacts
  text-align: center
  background: #222222
  background-size: cover

.contacts h2
  color: #ffffff

.input
  text-transform: uppercase
  height: 50px
  width: 100%
  font: 14px/14px $font
  color: $text-color
  border-radius: 2px
  margin-bottom: 25px

.input:last-child
  margin-bottom: 0

%contact
  width: 48.5%
  margin-left: 3%

.right-contact
  @extend %contact

.left-contact
  @extend %contact
  margin-left: 0

.message
  text-transform: uppercase
  width: 100%
  height: 200px
  font: 14px/14px $font
  color: $text-color
  border-radius: 2px

.contacts button
  margin-top: 30px

.contacts img
  position: absolute
  z-index: 2
  left: 590px
  top: -75px

.contacts-wrap
  position: relative

.bottom-fotter.box
  padding: 22px 0

.bottom-fotter p
  font: 14px/14px $font

.place
  width: 35%

.place p
  margin-top: 12px

.socia
  margin-left: 5%
  width: fit-content




